<!DOCTYPE html>
<html>
<head>
<link href="{{ url_for('static', filename='css/default.css')}}" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.7.1.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.slidertron-1.1.js')}}"></script>
{% block title -%}
{% if title %}
         <title>WC SEACH - {{title}}</title>
{% else %}
         <title>WC SEACH</title>
{% endif %}
{% endblock %}
</head>
<body>
{% block content -%}
         {%- block mainmenu -%}
<ul>
         {% for m in menu -%}
<li>{{m}}</li>
         {% endfor -%}
</ul>
         {% endblock mainmenu -%}
         {% if title -%}
<h1>{{title}}</h1>
         {% else -%}
<h1>WC SEACH</h1>
         {% endif -%}
{% endblock -%}
</body>
</html>